{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|linebreaks }}
  <p>
    <a href="{% url "blog:post_share" post.id %}">
      Share this post
    </a>
  </p>
  {% with total_likes=post.users_like.count %}
 <div class="image-info">
 <div>
 <span class="count">
 {{ total_likes }} like{{ total_likes|pluralize }}
 </span>
 </div>
 </div>
 <div class="image-likes">
 {% for user in post.users_like.all %}
 <div>
 <img src="{{ user.profile.photo.url }}">
 <p>{{ user.first_name }}</p>
 </div>
 {% empty %}
 Nobody likes this post yet.
 {% endfor %}
 </div>
 {% endwith %}
  {% with comments.count as total_comments %}
    <h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }}
    {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    {% if new_comment %}
 <h2>Your comment has been added.</h2>
{% else %}
 <h2>Add a new comment</h2>
  <form method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
  <p><input type="submit" value="Add comment"></p>
  </form>
  {% endif %}
 <p>There are no comments yet.</p>
{% endfor %}

{% endblock %}